{% extends "base.html" %}

{% block content %}
{% load static %}

<div class="container py-5">

    <h1>Add chapter</h1>
    <form method="post">

        {% csrf_token %}
        <div>
            <p>{{ formset.media }}{{ formset.as_p|safe}}</p>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>

    </form>
</div>

<script>
    document.getElementById("id_title_chapter").classList.add("form-control");
    document.getElementById("id_book").classList.add("form-control");
    document.getElementById("id_title_chapter").placeholder = "Title chapter";
    document.getElementById("id_title_chapter").type = "text";
    document.getElementById("id_book").type = "text";
    document.getElementById("id_title_chapter").required = "required";
    document.getElementById("id_book").required = "required";
    
</script>

{% endblock %}