{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <h1>Edit chapter</h1>
    <form method="post" action="{% url 'edit_chapter' chapter.id  %}">
        {% csrf_token %}

        <p>{{ formset.media }}{{ formset.as_p}}</p>

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>

<script>
    document.getElementById("id_title_chapter").classList.add("form-control");
    document.getElementById("id_book").classList.add("form-control");
    document.getElementById("id_title_chapter").placeholder = "Title chapter";
    document.getElementById("id_title_chapter").type = "text";
    document.getElementById("id_book").type = "text";
    document.getElementById("id_title_chapter").required = "required";
    document.getElementById("id_book").required = "required";

</script>

{% endblock %}